<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Flickr Photos", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="https://github.com/jose56wonton/flickr_api_test">About</a></li>
      </ul>
    </nav>
  </div>
</header>
